.auth-container {
    display: flex;
    height: 100vh;
    width: 100%;
}

.auth-info {
    width: 60%;
    padding: 60px;
    background-color: rgb(34, 44, 49); 
    color: #e9e9e9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 5%;
}

.auth-info h1 {
    color: #ffc107;
    font-weight: 750;
    font-size: 25px;
    transform: scaleX(1.05);
    display: inline-block;
    margin-bottom: 4%;
}

.auth-info p {
    font-size: 16px;
}

.auth-form {
    width: 35%;
    padding: 5%;
    background-color: #3A454B; 
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.auth-form2 {
    display: flex;
    align-items: flex-end; 
    gap: 3rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
    
}

.input-group {
    margin-bottom: 20px;
}

.input-group label {
    color: #ffc107;
    margin-bottom: 6px;
    display: block;
    font-weight: bold;
    font-size: 14px;
}

.input-flex {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #263238;
    border-radius: 12px;
    padding: 5px 10px;
    width: 100%;
}

.input-flex .icon {
    color: #ffc107;
    font-size: 18px;
    pointer-events: none;
    margin-right: 8px;
}

.form-input {
    flex: 1;
    padding: 14px 8px;
    padding-right: 35px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 16px;
    outline: none;
}

.form-input::placeholder {
    color: #676767;
}

.toggle-password {
    position: absolute;
    right: 10px;       /* Отступ от правого края */
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    color: #ffc107;    /* Можно взять цвет иконки из дизайна */
    display: flex;
    align-items: center;
    height: 100%;      /* Чтобы растянуть по высоте инпута */
    top: 0;
}

.btn {
    display: inline-block;
    background-color: #263238;
    color: #ffd000ff;;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.8s ease;
    font-size: larger;
    align-items: center;
    width: 105%;
}

.btn:hover {
    background-color: #ffc400;;
    color: black;
    transition: background-color 0.6s ease;
    box-shadow: 0 0 20px rgba(255, 165, 0, 0.8);
    transform: translateY(-2px) scale(1.03);
}

.toggle-password i {
  display: inline-block;
  width: 1.3em;
  text-align: center;
}