html, body{
    height: 100%;
    margin: 0;
    background-color: #2b2f3a; 
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;  
    display: flex;
    flex-direction: column;
}

main {
    flex: 1; 
}

a {
    all: unset;
    cursor: pointer;
}
