header {
    background-color: rgb(43, 53, 58);
    color: #f1f1f1;
    padding: 1rem 2rem;
    border-bottom: 1px solid #d9f1eb;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 0 10px rgba(68, 255, 209, 0.2);
    border-radius: 0 0 16px 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Левая часть (например, логотип) */
.logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #44ffd1;
    text-decoration: none;
    text-shadow: 0 0 4px #37eabdc5;
}

/* Правая часть — навигация или кнопки */
.nav-links {
    display: flex;
    gap: 1rem;
}

.nav-links a {
    color: #f1f1f1;
    text-decoration: none;
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #2c3245;
    color: #44ffd1;
}