/* Общий стиль блока */
.quiz-page-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 80vh;

    padding: 2rem;
}

.quiz-container {
    background-color: #1b1e2f;
    color: #f1f1f1;
    padding: 2rem;
    
    border-radius: 16px;
    margin: auto;
    box-shadow: 0 0 20px rgba(28, 27, 27, 0.149);
}

/* Заголовок */
.quiz-container h2 {
    font-size: 2rem;
    color: #44ffd1;
    margin: 0;
}

.quiz-container h3 {
    font-size: 1.2rem;
    color: #44ffd1;
    font-weight: normal;
    margin: 0 0 0.2rem 0;  
}

.title {
    display: flex;
    align-items: flex-end; 
    gap: 0.5rem;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

/* Кнопки редактирования */
.quiz-container .quiz-edit,
.quiz-container .quiz-delete {
    display: inline-block;
    margin-right: 1rem;
    color: #ffaa00;
    text-decoration: none;
    font-weight: bold;
}
.quiz-container .quiz-edit:hover{
    color: #ffcc55;
    text-shadow: 0 0 4px #ffaa00;
}

.quiz-container .quiz-delete:hover{
    color: #f33f2b;
    text-shadow: 0 0 4px #ff0000;
}

/* Подписи */
.quiz-container p {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

/* Картинка */
.quiz-container img {
    border-radius: 12px;
    margin: 1rem 0;
    max-width: 100%;
}

/* Кнопка создания сессии */
#startSessionBtn {
    background-color: #ffaa00;
    color: #000;
    border: none;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
#startSessionBtn:hover {
    background-color: #88ffe0;
}

/* Форма входа в сессию */
#joinForm {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    flex-wrap: wrap;
}

#sessionCodeInput {
    flex: 1;
    min-width: 200px;
    padding: 0.7rem 1rem;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #2b2f3e;
    color: #fff;
}

#joinForm button {
    white-space: nowrap;
    background-color: #ffaa00;
    color: #000;
    border: none;
    padding: 0.7rem 1.2rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#joinForm button:hover {
    background-color: #88ffe0;
}

/* Кнопка "Пройти викторину" */
a.btn-primary {
    display: inline-block;
    background-color: #ffaa00;
    color: #000;
    padding: 0.8rem 1.5rem;
    border-radius: 10px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s ease;
}
a.btn-primary:hover {
    background-color: #88ffe0;
}

/* Ссылка назад */
a[href*="main_page"] {
    display: inline-block;
    margin-top: 1.5rem;
    color: #44ffd1;
    text-decoration: none;
}
a[href*="main_page"]:hover {
    text-shadow: 0 0 5px #44ffd1;
}