.create-container {
    background-color: #1b1e2f;
    padding: 2rem;
    margin: auto;
    color: #f1f1f1;
    box-shadow: 0 0 20px rgba(68, 255, 209, 0.05);
    max-width:100%;
    height: 100%;
    border-radius: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.inputs {
    padding: 0.7rem 1rem;
    border-radius: 8px;
    border: 1px solid #444;
    background-color: #2b2f3e;
    color: #fff;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
    width: 50%;
    margin: auto;
}

.create_button {
    background-color: #ffaa00;
    color: #000;
    padding: 0.7rem 1.2rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    transition: background-color 0.5s ease;
    width: 50%;
    margin-top: 10%;
    margin: auto;
}

.create_button:hover {
    background-color: #ffcc55;
}

.custom-file-upload {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.btn-file {
    background-color: #ffaa00;
    color: #000;
    padding: 0.6rem 1rem;
    border-radius: 10px;
    font-weight: bold;
    cursor: pointer;
    border: none;
    width: fit-content;
    transition: background-color 0.3s ease;
    margin: auto;
}
.btn-file:hover {
    background-color: #ffcc55;
}

.file-name {
    color: #aaa;
    font-style: italic;
    font-size: 0.9rem;
    margin: auto;
}