{% extends "base.html" %}
{% load static %}
{% block content %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/quiz_edit.css' %}">
{% endblock %}

<div class="edit-container">

  <h2>Редактирование викторины: {{ quiz.title }}</h2>

  <h3>Добавить вопрос</h3>
  <form method="post">
    {% csrf_token %}
    <textarea name="question" placeholder="Вопрос" required></textarea><br><br>

    <div id="answers">
      <div class="answer">
        <input type="text" name="answer_text" placeholder="Ответ" required>
        <input type="checkbox" name="is_correct" value="0"> Правильный
      </div>
    </div>

    <button type="button" class="btn" onclick="addAnswer()">+ Добавить ответ</button>
    <button type="button" class="btn" onclick="removeLastAnswer()">− Удалить последний ответ</button>
    <button type="submit" class="btn">Сохранить</button>
  </form>

  <h3>Уже добавленные вопросы</h3>
  <hr>
  {% for question in questions %}
    <div class="question-block">
      <p><strong>{{ forloop.counter }}. {{ question.text }}</strong></p>
      <ul>
        {% for answer in question.answers.all %}
          <li>
            {{ answer.text }} {% if answer.is_correct %}✅{% endif %}
          </li>
        {% endfor %}
      </ul>
      <form method="post" action="{% url 'question_delete' quiz.id question.id %}">
        {% csrf_token %}
        <button type="submit" class="btn">🗑 Удалить вопрос</button>
      </form>
    </div>
  {% empty %}
    <p>Пока нет вопросов.</p>
  {% endfor %}

  <hr>

  <form method="post" action="{% url 'quiz_finish' quiz.id %}">
    {% csrf_token %}
    <button type="submit" class="finish-btn">✅ Завершить создание</button>
  </form>

</div>

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/quiz_edit.js' %}"></script>
{% endblock %}

{% endblock %}