{% extends "base.html" %}
{% load static %}
{% block content %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/quiz_create.css' %}">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/quiz_create.js' %}"></script>
{% endblock %}

<div class="create-container">
    <form method="POST" enctype="multipart/form-data" class="form">
        {% csrf_token %}
        {{ form.title }}
        {{ form.topic }}
        {{ form.description }}
        <div class="custom-file-upload">
            <input type="file" id="id_image" name="image" hidden>
            <button type="button" class="btn-file" onclick="document.getElementById('id_image').click();">
                Загрузить изображение
            </button>
            <span id="file-name" class="file-name">Файл не выбран</span>
        </div>

        <button type="submit" class="create_button">Перейти на следующий этап</button>
    </form>
</div>
{% endblock %}