<!DOCTYPE html>
{% load static %}
<html lang="eng">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}I.Quitz{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
                        <!-- styles -->
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>

                         <!-- nav -->

    {% include "header.html"%}
    
                     <!-- main content -->
    <main>
        {% block content %}
        {% endblock %}
    </main>

                       <!-- footer -->
    <footer>
        <p>© {{ year }} IQuitz. Все права защищены.</p>
    </footer>

                        <!-- scr -->
    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>