{% extends "base.html" %}
{% load static %}
{% block content %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/main_page.css' %}">
{% endblock %}

<div class="main-container">
    {% if user.is_authenticated %}
        <a href="{% url 'quiz_create' %}" class="btn-create">＋ Создать викторину</a>
        <span class="credits-display">
        💰 Кредиты: {{ user.account.credits }}
        </span>
    {% endif %}

    <form method="get" class="filter-form">
        <select name="topic" id="topic">
            <option value="">Все темы</option>  
            {% for code, label in quizzes.model.Topic.choices %}
                <option value="{{ code }}" {% if selected_topic == code %}selected{% endif %}>{{ label }}</option>
            {% endfor %}
        </select>

        <div class="autocomplete-wrapper">
            <input type="text" id="creator-input" name="creator" placeholder="Ник создателя" autocomplete="off">
            <ul id="suggestions" style="display: none"></ul>
        </div>
        <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
    </form>

    <hr class="divider">

    <ul class="quiz-list">
        {% for quiz in quizzes %}
            <li>  
                <a href="{% url 'quiz_detail' quiz.id %}">
                {% if quiz.image %}
                    <img class="card-image" src="{{ quiz.image.url }}" alt="Картинка">
                {% else %}
                    <img class="card-image" src="/media/quiz_images/default.png" alt="Картинка">
                </a>
                {% endif %}  
                <div class="card-content">
                    <a href="{% url 'quiz_detail' quiz.id %}" class="quiz-title">{{ quiz.title }}</a><span class="quiz-topic">({{ quiz.topic }})</span><br>
                    <div class="creator-time">{{ quiz.creator.username }}</div><br>
                    
                    {% if quiz.description != "No description" %}
                        <p class="creator-time">{{ quiz.description }}</p>
                    {% endif %}  
                </div>

            </li>
        {% empty %}
            <li class="empty-message">Ничего не найдено</li>
        {% endfor %}
    </ul>
</div>

{% block extra_js %}
    {{ block.super }}
    <script src="{% static 'js/main.js' %}"></script>
{% endblock %}

{% endblock %}