{% extends "base.html" %}
{% block content %}
{% if user.is_authenticated %}
<a href="{% url 'quiz_create' %}">Создать</a>
{% endif %}
<form method="get">
    <input type="text" name="creator" placeholder="Ник создателя" value="{{ request.GET.creator }}">
    <select name="topic" id="topic">
        <option value="">All Topics</option>
        {% for code, label in quizzes.model.Topic.choices %}
          <option value="{{ code }}" {% if selected_topic == code %}selected{% endif %}>{{ label }}</option>
        {% endfor %}
    </select>
    <button type="submit">Сортировать</button>
</form>
<hr>
<ul>
    {% for quiz in quizzes %}
        <li>
            <strong>{{ quiz.title }}</strong> ({{ quiz.topic }})<br>
            Создано: {{ quiz.creator.username }} — {{ quiz.created_at|timesince }} ago  <a href="{% url 'quiz_detail' quiz.id %}">Подробнее</a>
        </li>
    {% empty %}
        <li>Ничего не найдено</li>
    {% endfor %}
</ul>

{% endblock %}