{% extends "base.html" %}
{% load static %}
{% block content %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/quiz_detail.css' %}">
{% endblock %}

<div class="quiz-page-wrapper">
    <div class="quiz-container">
        <a style="padding-right: 1.5rem;" href="{% url 'main_page' %}">← Назад на главную</a>

        {% if request.user == quiz.creator %}
            <a class="quiz-edit" href="{% url 'quiz_edit' quiz.id %}">✏ Редактировать</a>
            <a class="quiz-delete" href="{% url 'quiz_delete' quiz.id %}">🗑 Удалить</a>
        {% endif %}
        <hr>
        <div class="title">
            <h2>{{ quiz.title }}</h2>
            <h3>by {{ quiz.creator }}</h3>
        </div>
        
        <p><strong>Тема:</strong> {{ quiz.topic }}</p>
        {% if quiz.description != "No description" %}
            <p><strong>Описание:</strong> {{ quiz.description }}</p>
        {% else %}
        {% endif %}

        {% if quiz.image %}
            <img src="{{ quiz.image.url }}" alt="Quiz Image" style="max-width:300px;">
        {% endif %}
        <p>Вопросов: {{ quiz.questions.count }}</p>

        <button id="startSessionBtn">🚀 Создать сессию</button>
        <p id="sessionResult"></p>
        <form id="joinForm" method="post">
            {% csrf_token %}
            <input type="text" name="code" id="sessionCodeInput" placeholder="Введите код сессии" required>
            <button type="submit">Присоединиться</button>
        </form>
        <p id="joinStatus"></p>
        <a href="{% url 'quiz_start' quiz.id %}" class="btn btn-primary">▶ Пройти викторину</a>
    </div>
</div>

<script>
document.getElementById('startSessionBtn').addEventListener('click', function() {
    fetch("{% url 'session_create' %}", {
        method: "POST",
        headers: {
            'X-CSRFToken': '{{ csrf_token }}',
            'Content-Type': 'application/x-www-form-urlencoded',
        },
        body: new URLSearchParams({
            'quiz_id': '{{ quiz.id }}'
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.status === 'ok') {
            window.location.href = data.redirect_url;
        } else {
            document.getElementById('sessionResult').innerText = `Ошибка: ${data.message}`;
        }
    });
});
document.getElementById('joinForm').addEventListener('submit', function (e) {
    e.preventDefault();
    fetch("{% url 'join_session_by_code' %}", {
    method: "POST",
    headers: {
        "X-CSRFToken": "{{ csrf_token }}",
        "Content-Type": "application/x-www-form-urlencoded",
    },
    body: new URLSearchParams({
        code: document.getElementById('sessionCodeInput').value,
    }),
    })
    .then(res => res.json())
    .then(data => {
    if (data.status === 'ok') {
        window.location.href = data.redirect_url;
    } else {
        document.getElementById('joinStatus').innerText = data.message;
    }
    });
});
</script>
{% endblock %}